/*  your css code here. If applicable */
.body{
	background-color:#fff;
}
.book-library{
	background-color: #f8f8f8;
	text-align:center;
}
.book{
	background-color:#f8f8f8;
	text-align:center;
	margin:10px;
}
.authorr{
	text-align:left;
}
.authorr .author{
	color:#777777;
}
.price-block{
	background-color:#2ecc71;
	color:white;
}